@page
@model SafeVault.Pages.SecurePage

@{
    ViewData["Title"] = "Secure Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Secure Page</h1>
    <br>
    <p class="blockquote">This page is only accessible after a successful login</p>
    <br>
</div>