@inject HttpClient Http
@page "/fetch"
@using SharedModels

<h3>Products</h3>
@if (products == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (Product product in products)
        {
            <li>@product.Name</li>
        }
    </ul>
}

@code
{
    private Product[]? products;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            products = await Http.GetFromJsonAsync<Product[]>("http://localhost:5083/products");
        }
        catch (Exception e)
        {
            Console.WriteLine($"error fetching data: {e.Message}");
            products = null;
        }
    }
}
