@inject HttpClient Http
@page "/products"
@using Product = ProductsApi.Product
@using ProductsApi

<PageTitle>Products</PageTitle>

<h3>Products</h3>
@if (products == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (Product product in products)
        {
            <li>@product.Name</li>
        }
    </ul>
}

@code
{
    private ICollection<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ProductsApiClient client = new("http://localhost:5083", Http);
            products = await client.ProductsAllAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine($"error fetching data: {e.Message}");
            products = null;
        }
    }
}